.body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.core {
    background-color: #def0fd;
    width: 100%;
    padding: 64px 32px;
}
