.header {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 8px;
    padding: 0 16px;
    margin-bottom: 8px;
    border-bottom: 4px solid #e8898e;
}

.subtitle {
    color: #808080;
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: 4px;
}
