.wrapper {
    position: relative;
}

.container {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.content {
    width: 100%;
    height: 650px;
    flex: 1 0 100%;
    transition: transform 0.5s ease-out;
}

.control-prev,
.control-next {
    padding: 16px 24px;
    font-size: 2.4rem;
    border: none;
    outline: none;
    background-color: #e8898e;
    color: var(--white);
    border-radius: 99px;
    position: absolute;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

.control-prev {
    top: 50%;
    left: 36px;
    transform: translateY(-50%);
}

.control-next {
    top: 50%;
    right: 36px;
    transform: translateY(-50%);
}
