.wrapper {
    min-width: 70px;
    min-height: 35px;
    outline: none;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;

    &.disabled {
        user-select: none;
        pointer-events: none;
        opacity: 0.5;
    }
}

.text {
    background-color: transparent;
}

.primary {
    background-color: transparent;
    font-weight: 300;
    color: #808080;

    &:hover {
        color: #e8898e;
        cursor: pointer;
    }
}

.addtocart {
    width: 100%;
    padding: 8px 16px;
    color: #808080;
    background-color: var(--primary-color);
    border: 2px solid #808080;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: #eeb861;
        cursor: pointer;
    }
}

.submit {
    width: 148px;
    height: 48px;
    background-color: var(--white);
    border-radius: 4px;
    border: 4px solid #808080;
    box-shadow: 7.07px 7.07px 0px 0px rgba(128, 128, 128, 1);
    font-size: 1.6rem;
    font-weight: 700;

    transition: 0.5s ease-in-out;

    &:hover {
        border: 4px solid #e8898e;
        color: #e8898e;
        cursor: pointer;
    }
}

.checkout {
    width: 100%;
    padding: 8px;
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--white);
    background-color: #e3807c;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

.findmore {
    width: 100%;
    font-size: 1.4rem;
    border: 2px solid #e8898e;
    background-color: var(--white);
    color: #e8898e;

    &:hover {
        cursor: pointer;
        background-color: #e3807c;
        color: var(--white);
        animation: appearance ease-in 0.4s;
    }
}

// Icon

.icon {
    width: 50px;
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}
