.wrapper {
    padding: 48px 0 24px 0;
    border-bottom: 1px solid var(--black);
}

.title {
    font-size: 2.4rem;
    color: #2a2a2a;
    margin-bottom: 8px;
    font-style: italic;
}

.description {
    font-size: 1.6rem;
    color: #454545;
    font-style: italic;
}
