.wrapper {
    display: flex;
    align-items: center;
    flex: 1;
}

.image {
    width: 50%;
    height: 480px;
    object-fit: cover;
    object-position: 50% 50%;
}

.content {
    max-width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-left: auto;
    margin-right: auto;
}

.title {
    color: #e8898e;
    font-size: 2.8rem;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 32px;
}

.paragraph {
    min-height: 200px;
    font-size: 1.8rem;
    font-weight: 500;
    color: #808080;
    text-align: center;
}
