.wrapper {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    font-size: 6.4rem;
    background-color: var(--guest-lightblue-full);
    color: var(--guest-darkblue-full);
    font-weight: 300;
    padding: 12px 0;
}

.body {
    display: flex;
    flex-direction: row;
    max-height: 800px;
    border-top: 4px solid var(--guest-darkblue-full);
    border-bottom: 4px solid var(--guest-darkblue-full);
}

.community_img {
    &:nth-child(1) {
        transform: translate(25%, 25%);
        z-index: 1;
    }
    &:nth-child(2) {
        transform: translate(15%, 15%);
        z-index: 2;
    }
    &:nth-child(3) {
        transform: translate(75%, -25%);
        z-index: 3;
    }
}

.info {
    background-color: var(--guest-semi-lightblue-full);
    max-width: 50%;
    position: relative;
    overflow: hidden;
}

.info_text {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    max-width: 350px;

    font-size: 3.2rem;
    font-weight: 500;
    color: var(--black);
}

.info_img {
    height: 800px;
    transform: translateX(-14%);
}
