.wrapper {
    margin-top: var(--header-height);
    padding: 64px 128px;
    position: relative;
}

.introduction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.images_container {
    display: flex;
    align-items: center;
}

.main_image {
    width: 400px;
    height: 600px;
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;

    margin-right: 32px;
    list-style-type: none;
}

.image {
    width: 100px;
    height: 150px;
}

.extends {
    padding: 16px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--black);
    color: var(--white);

    &:hover {
        cursor: pointer;
        background-color: var(--faded-color);
        transition: 0.5s ease;
    }
    &:not(:hover) {
        transition: 0.5s ease;
    }
}

.description {
    margin-right: auto;
    margin-left: auto;
    min-width: 600px;
}

.title {
    letter-spacing: 4px;
    margin-bottom: 64px;
    font-size: 4.8rem;
    color: var(--guest-darkblue-full);
}

.description_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.section_1,
.section_2 {
    list-style-type: none;
    font-size: 1.8rem;
}

.item_section_1,
.item_section_2 {
    margin-bottom: 16px;
    color: var(--guest-darkblue-full);
    font-weight: 400;
}

.item_value {
    margin-left: 16px;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--guest-semi-darkblue-full);
}

.ratings {
    display: flex;
    margin-bottom: 32px;
}

.rating_text {
    color: var(--guest-semi-darkblue-half);
    margin-left: 16px;
    font-size: 1.8rem;
    font-weight: 500;
}

/* Prices */

.prices {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.new_price {
    font-size: 3.2rem;
    font-weight: bold;
    color: var(--guest-semi-darkblue-full);
}

.old_price {
    font-size: 2rem;
    color: var(--guest-semi-lightblue-full);
    margin-left: 24px;
    text-decoration: line-through;
}

.discount {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--white);
    background-color: var(--guest-blue-full);
    padding: 4px 8px;
    margin-left: 24px;
    border-radius: 5px;
}

/* Quantity */

.quantity {
    display: flex;
    align-items: center;
}

.quantity_label {
    font-size: 1.8rem;
    font-weight: bold;
    margin-right: 32px;
}

.quantity_wrapper {
    display: flex;
    align-items: center;
}

.quantity_input {
    width: 100px;
    padding: 5px;
    outline: none;
    border-radius: 8px;

    margin: 0 8px;
    color: var(--guest-semi-darkblue-full);
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

.quantity_add,
.quantity_minus {
    padding: 0 16px;
    background-color: var(--guest-semi-darkblue-full);
    color: var(--white);
    font-size: 2.4rem;
    font-weight: bold;
    border-radius: 8px;
    transition: background 0.25s ease-in-out, color 0.25s ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: var(--guest-semi-lightblue-full);
        color: var(--black);
    }
}

.available {
    margin-left: auto;
    color: var(--guest-darkgray-full);
    font-size: 1.8rem;
}

.available_value {
    margin-left: 16px;
    color: var(--guest-semi-darkblue-full);
    font-size: 2.4rem;
    font-weight: bold;
}

/* Buttons */

.payment_buttons {
    display: flex;
    align-items: center;
    margin: 48px 0 64px 0;
    width: 532px; // width of images above.
}

.add_to_cart_btn,
.buy_now_btn {
    font-size: 2.4rem;
    font-weight: 700;
    padding: 16px 32px;
    border-radius: 10px;
    min-width: 250px;
    min-height: 80px;
}

.add_to_cart_btn {
    border: 4px solid var(--guest-darkblue-full);
    color: var(--black);
    background: var(--guest-lightblue-full);
    transition: background 0.33s ease-in-out, color 0.33s ease-in-out, transform 0.33s ease-in-out;

    &:hover {
        border: 4px solid var(--guest-lightblue-full);
        color: var(--white);
        background: var(--guest-darkblue-full);
        transform: scale(1.2);
    }
}

.buy_now_btn {
    border: 4px solid var(--guest-lightblue-full);
    color: var(--white);
    background: var(--guest-darkblue-full);
    margin-left: auto;
    transition: background 0.33s ease-in-out, color 0.33s ease-in-out, transform 0.33s ease-in-out;

    &:hover {
        border: 4px solid var(--guest-darkblue-full);
        color: var(--black);
        background: var(--guest-lightblue-full);
        transform: scale(1.2);
    }
}

/* Information details */

.information {
    display: flex;
    flex-direction: column;
    color: var(--guest-darkblue-full);
}

.information_title_wrap,
.information_title_wrap,
.ratings_title_wrap {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.icon {
    font-size: 2.4rem;
    margin-right: 16px;
}

.details_text,
.information_text,
.ratings_text {
    font-size: 2.4rem;
    text-transform: uppercase;
}

.details_list {
    list-style-type: none;
    width: 100%;
    margin-bottom: 64px;
}

.details_item {
    margin-bottom: 16px;
    font-size: 1.8rem;
}

.details_item_label {
    min-width: 300px;
    display: inline-block;
    font-weight: 600;
}

.details_item_value {
    margin-left: auto;
    font-weight: 400;
}

.information_paragraph {
    padding: 32px;
    border: 1px solid var(--guest-semi-lightblue-full);
    border-radius: 10px;

    text-align: justify;
    text-justify: inter-word;
    line-height: 1.8;
    font-size: 1.8rem;

    margin-bottom: 64px;
}

/* Ratings */

.ratings_all {
    color: var(--guest-darkblue-full);
}

.rating_star {
    font-size: 2.4rem;
}

.ratings_rate {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 32px;
    border: 1px solid var(--guest-semi-lightblue-full);
    border-radius: 10px;

    margin-bottom: 64px;
}

.rating_rate_section_1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.rating_rate_valuation {
    display: flex;
    align-items: baseline;
    flex-direction: row;
}

.rating_rate_valuation,
.ratings_rate_based {
    margin-bottom: 16px;
}

.ratings_rate_value {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--guest-blue-full);
}

.ratings_rate_subvalue {
    font-size: 1.75rem;
    margin-left: 4px;
}

.ratings_rate_based {
    font-size: 1.5rem;
}

.rating_bars {
    list-style-type: none;
}

.rating_bar {
    display: flex;
    align-items: center;
}

.bar {
    width: 300px;
    height: 12px;
    background-color: var(--guest-lightblue-full);
    border-radius: 10px;

    margin: 0 24px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--guest-blue-full);
        border-radius: 10px 0 0 10px;
        width: var(--dynamic-width);
        height: 12px;
    }
}

/* Comments */

.comments_list {
    list-style-type: none;
    margin-bottom: 24px;
}

.comments_item {
    border-bottom: 1px solid var(--guest-semi-lightblue-full);
    padding-bottom: 24px;
    margin-bottom: 24px;
}

.comments_item_header {
    display: flex;
    align-items: center;

    margin-bottom: 24px;
}

.user_avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.comment_user_info {
    display: flex;
    flex-direction: column;
    margin: 0 16px;
    color: var(--guest-semi-darkblue-full);
}

.user_name {
    font-weight: 600;
}

.post_comments {
    display: flex;
    flex-direction: column;
}

.post_comments_header {
    display: flex;
    align-items: center;
}

.user_name_post {
    margin: 0 16px;
}

.comments_text {
    resize: none;
    width: 1000px;
    height: 150px;

    margin-top: 16px;
    padding: 16px;
    outline: none;
    border: 1px solid var(--guest-semi-lightblue-full);
    border-radius: 10px;

    caret-color: var(--guest-blue-full);
    color: var(--guest-semi-darkblue-full);
    font-size: 1.6rem;
}

/* Click comment product */

.cmt-more-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 100px;
    color: var(--white);
    font-weight: 500;
    background-color: var(--guest-darkblue-full);
    border: 4px solid var(--guest-darkblue-full);
    font-size: 24px;
    border-radius: 25px;
    margin-top: 40px;
    transition: background 0.25s ease-in-out, color 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.cmt-more-btn:hover {
    background: var(--guest-semi-lightblue-full);
    color: var(--black);
    transform: scale(1.05);
    font-weight: 700;
    border: 4px solid var(--guest-lightblue-full);
}
