.wrapper {
}

.introduction {
    padding: 0 128px;
    margin-top: 50px;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-color);
    height: 600px;
    position: relative;
}

.picture {
    width: 900px;
    height: 600px;
    margin-top: -50px;
}

.information {
    padding: 32px;
    background-color: var(--white);
    max-width: 600px;
    border: 4px solid #808080;
    position: absolute;
    left: 20%;
    bottom: 18px;
}

.text {
    font-size: 1.8rem;
    color: #808080;
}

.members {
    background-color: #fafafa;
    padding: 64px 0;
}

.members-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}
