.wrapper {
    width: 600px;
    overflow: hidden;
    position: relative;
    overflow: visible;
}

.header {
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--text-color);
    margin: 12px 0;
}

.body {
    width: 90%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin-bottom: 12px;
    cursor: pointer;

    &::-webkit-scrollbar {
        display: none;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

.content {
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 100px;
    margin-right: 8px;

    &:last-child {
        margin-right: 0;
    }
}

.text {
    text-wrap: nowrap;
    color: #808080;
}

.dropdown_menu {
    width: 35px;
    height: 35px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 1000px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 0;
    bottom: 12px;

    cursor: pointer;
}
