:root {
    --top: 60px;
}
.side-bar-space {
    height: 100%;
    width: 300px;
    display: flex;
    // justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #405189;
}

.logo {
    position: fixed;
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px 10px;
}

.website-name {
    position: fixed;
    left: 120px;
    top: 42.5px;
    font-size: 1.6rem;
    color: white;
}

.menu-tag {
    position: relative;
    left: 20px;
    top: 130px;
    font-size: 0.8rem;
    color: #838FB9;
}

.dashboards-button {
    position: absolute;
    left: 0px;
    top: 170px;
    font-size: 1.6rem;
    color: white;
}

.notification-button {
    position: absolute;
    left: 0px;
    top: 230px;
    font-size: 1.6rem;
    color: white;
}

.events-button {
    position: absolute;
    left: 0px;
    top: 290px;
    font-size: 1.6rem;
    color: white;
}

.pages-tag {
    position: absolute;
    left: 20px;
    top: 380px;
    font-size: 0.8rem;
    color: #838FB9;
}

.book-settings-button {
    position: absolute;
    left: 0px;
    top: 420px;
    font-size: 1.6rem;
    color: white;
}

.order-settings-button {
    position: absolute;
    left: 0px;
    top: 480px;
    font-size: 1.6rem;
    color: white;
}

.user-management-button {
    position: absolute;
    left: 0px;
    top: 540px;
    font-size: 1.6rem;
    color: white;
}

.authentication-tag {
    position: absolute;
    left: 20px;
    top: 630px;
    font-size: 0.8rem;
    color: #838FB9;
}

.sign-out-button {
    position: absolute;
    left: 0px;
    top: 670px;
    font-size: 1.6rem;
    color: white;
}

.button-name {
    position: fixed;
    font-size: 1.2rem;
    color: white;
    padding: 3px 7px;
}
