.item {
    min-width: 200px;

    display: flex;
    align-items: center;

    margin-right: 12px;
    margin-bottom: 12px;
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.icon {
    margin-left: 8px;
}

.icon_item {
    color: var(--star-color);
}

.icon_item.four_stars {
    color: #ccc;
}

.label {
    margin-left: 8px;
    font-size: 1.6rem;
    font-weight: 500;
    text-wrap: nowrap;
    color: var(--text-color);
}

//https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox
