.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 6.4rem;
    font-weight: 400;
    letter-spacing: 8px;
    padding: 0 16px;
    margin-bottom: 8px;
    border-bottom: 2px solid var(--primary-color);
    letter-spacing: 2px;
}
