.wrapper {
}

.container {
    min-width: 292px;
    max-width: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 128px;
}

.icon {
    font-size: 6.4rem;
    color: var(--white);
}

.title {
    font-size: 32px;
    font-weight: 500;
    color: var(--text-color);
    text-transform: uppercase;
    margin: 16px 0;
}

.description {
    text-align: center;
    color: var(--text-color);
    min-height: 100px;
}

.more-btn {
    width: 150px;
    border: 4px solid #808080;
    color: #808080;
    font-weight: 700;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    margin-top: 64px;
    padding: 16px;

    &:hover {
        color: #808080;
        background-color: var(--primary-color);
    }
}
