:root {
    --bg-color: #405189;
}

.side-bar-space {
    height: 100%;
    width: 300px;
    display: flex;
    // justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--bg-color);
}

.logo {
    position: fixed;
    width: 120px;
    height: 120px;
    object-fit: contain;
    padding: 10px 10px;
}

.website-name {
    position: fixed;
    left: 118px;
    top: 44px;
    font-size: 2.4rem;
    color: white;
}

.menu-tag {
    position: relative;
    left: 20px;
    top: 130px;
    font-size: 0.8rem;
    color: #838FB9;
}

.dashboards-button {
    position: absolute;
    padding: 0px 225px 0px 0px;
    // border-style: double;
    left: 0px;
    top: 170px;
    font-size: 1.6rem;
    color: white;
}

.notification-button {
    position: absolute;
    padding: 0px 225px 0px 0px;
    // border-style: double;
    left: 0px;
    top: 230px;
    font-size: 1.6rem;
    color: white;
}

.events-button {
    position: absolute;
    padding: 0px 225px 0px 0px;
    left: 0px;
    top: 290px;
    font-size: 1.6rem;
    color: white;
}

.pages-tag {
    position: absolute;
    left: 20px;
    top: 380px;
    font-size: 0.8rem;
    color: #838FB9;
}

.book-settings-button {
    position: absolute;
    padding: 0px 225px 0px 0px;
    left: 0px;
    top: 420px;
    font-size: 1.6rem;
    color: white;
}

.order-settings-button {
    position: absolute;
    padding: 0px 225px 0px 0px;
    left: 0px;
    top: 480px;
    font-size: 1.6rem;
    color: white;
}

.user-management-button {
    position: absolute;
    padding: 0px 225px 0px 0px;
    left: 0px;
    top: 540px;
    font-size: 1.6rem;
    color: white;
}

.authentication-tag {
    position: absolute;
    padding: 0px 225px 0px 0px;
    left: 20px;
    top: 630px;
    font-size: 0.8rem;
    color: #838FB9;
}

.sign-out-button {
    position: absolute;
    padding: 0px 225px 0px 0px;
    left: 0px;
    top: 670px;
    font-size: 1.6rem;
    color: white;
}

.button-name {
    position: fixed;
    font-size: 1.2rem;
    color: white;
    padding: 3px 7px;
}

.vertical-menu {
    width: 300px; /* Set a width if you like */
    padding: 120px 0px;
}

.vertical-menu a {
    background-color: var(--bg-color);
    color: white; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 20px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #6076be; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #6076be; /* Add a green color to the "active/current" link */
}

.vertical-menu-tag {
    margin-left: 20px;
    margin-top: 24px;
    margin-bottom: -20px;
    font-size: 1.2rem;
    color: #838FB9;
}

.menu-box {
    padding: 110px 0px;
}


.menu-choice-noti {
    display: inline;
    margin-left: 20px;
    margin-top: 24px;
    font-size: 2.0rem;
    color: white;
}


.menu-choice {
    display: inline;
    margin-left: 20px;
    margin-top: 16px;
    font-size: 2.0rem;
    color: white;
}

.notification-icon {
    font-size: 1.2rem;
    color: white;
}
.badge {
    font-size: 1.4rem;
    color: var(--white);
    background-color: #e8898e;
    padding: 2px 8px;
    border-radius: 99px;
    position: absolute;
    top: -5px;
    right: 5px;
}