@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --black: #000;
    --white: #fff;

    // Logged colors
    --text-color: #161823;
    --star-color: #ffbf00;
    --faded-color: #808080;
    --discount-color: #c72127;
    --order-color: #ee4d2d;
    --deepblue-color: #525f7f;
    --lightblue-bg-color: #8898aa;
    --voucher-color: #0096ff;
    --emerald-color: #50c878;
    --primary-color: #ffcc00;
    --primary-blue: #003366;
    --primary-light-yellow: #fffaeb;

    --confirmed-color: #005fff;
    --received-color: #55a999;

    // Guest colors
    --guest-darkblue-full: rgba(0, 30, 59, 1);
    --guest-darkblue-half: rgba(0, 30, 59, 0.5);
    --guest-semi-darkblue-full: rgba(0, 69, 137, 1);
    --guest-semi-darkblue-half: rgba(0, 69, 137, 0.5);
    --guest-blue-full: rgba(0, 127, 255, 1);
    --guest-blue-half: rgba(0, 127, 255, 0.5);
    --guest-semi-lightblue-full: rgba(137, 196, 255, 1);
    --guest-semi-lightblue-half: rgba(137, 196, 255, 0.5);
    --guest-lightblue-full: rgba(216, 235, 255, 1);
    --guest-lightblue-half: rgba(216, 235, 255, 0.5);
    //--black: #000
    --guest-darkgray-full: rgba(63, 63, 63, 1);
    --guest-gray-full: rgba(127, 127, 127, 1);
    --guest-gray-half: rgba(128, 128, 128, 0.5);
    --guest-lightgray-full: rgba(191, 191, 191, 1);
    //--white: #fff

    // --guest-purple-100-color: rgba(93, 63, 211, 1);
    // --guest-purple-50-color: rgba(93, 63, 211, 0.5);
    // --guest-purple-25-color: rgba(93, 63, 211, 0.25);
    // --guest-cyan-100-color: rgba(0, 255, 255, 1);
    // --guest-cyan-50-color: rgba(0, 255, 255, 0.5);
    // --guest-cyan-25-color: rgba(0, 255, 255, 0.25);
    // --guest-blue-100-color: rgba(0, 128, 255, 1);
    // --guest-blue-50-color: rgba(0, 128, 255, 0.5);
    // --guest-blue-25-color: rgba(0, 128, 255, 0.25);
    //

    --font-family: 'IBM Plex Sans', Tahoma, Verdana, Arial, sans-serif;

    --header-height: 120px;
    --header-width: 1200px;
    --footer-width: 1200px;

    --cart-page-width: 1600px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

th {
    background-color: #F6CA4D;
}

td {
    background-color: white;
}

table, th, td {
    // margin-top: 5px;
    // margin-left: 10px;
    // border: 1px solid;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: black;
    padding: 10px 5px;
}

table {
    width: 100%;
}