.menu-item {
    display: flex;
    justify-content: left;
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--white);
    width: 100%;
    height: 100%;
    padding: 10px 24px;
    font-size: 1.6rem;
    font-weight: 700;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }

    &:nth-last-child(1) {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
}

.title {
    margin-left: -28px;
}
