:root {
    --social-contact-width: 1000x;
    --social-contact-height: 200px;
}

.social-contact-box {
    position: absolute;
    top: 50px;
    right: 10px;

    width: var(--social-contact-width);
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 10px #ccc;

    transition: height 0.25s, opacity 101ms 4s, visibility 101ms 0.25s;
}

.social-contact-box.active {
    width: var(--social-contact-width);
    height: var(--social-contact-height);
    background-color: var(--white);
    box-shadow: 0 0 10px #ccc;

    visibility: visible;
    opacity: 1;

    transition: height 0.25s;
}

.header {
    display: flex;
    text-wrap: nowrap;
    width: var(--social-contact-width);
    margin-left: 15px;
    margin-top: 7px;
}

.title{
    font-size: 18px;
    color: black;
}

.line {
    position: relative;
    height: 1px;
    width: 100%;
    background-color: #cccccc;
}

.social-contact-menu { 
    // position: static;
    // width: 100%;
    // margin-top: -120px;
    color: black;
}

.contact {
    font-size: 18px;
    // background-color: white;
    color: black;
}
