:root {
    --search-height: 46px;
    --search-width: 600px;
    --search-top-spacer: 9px;
    --search-border-radius: 92px;
}

.wrapper {
    height: var(--header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--white);
}

.container {
    height: 100%;
    width: var(--header-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.category {
    display: flex;
    align-items: center;
}

.label {
    text-decoration: none;
    padding: 4px 16px;
    margin-right: 16px;
    font-size: 1.6rem;
}

/* Search */

.search-bar,
.search-result {
    width: var(--search-width);
}

.search-bar {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    height: var(--search-height);
    padding-left: 16px;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    border: 1px solid transparent;
    display: flex;
    position: relative;

    input {
        flex: 1;
        height: 100%;
        color: var(--text-color);
        font-size: 1.6rem;
        border: none;
        outline: none;
        background-color: transparent;
        color: #e8898e;
        caret-color: #e8898e;

        &::placeholder {
            color: var(--text-color);
        }
    }

    &::after {
        content: '';
        position: absolute;
        right: 52px;
        top: var(--search-top-spacer);
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: rgba(22, 24, 35, 0.06);
    }

    &:focus-within {
        border: 1px solid rgba(22, 24, 35, 0.2);
    }
}

.clear,
.loading {
    border: none;
    outline: none;
    margin-right: 16px;
    color: rgba(22, 24, 35, 0.34);
    cursor: pointer;

    position: absolute;
    right: 52px;
    top: 50%;
    transform: translateY(-50%);
}

.search-btn {
    width: 52px;
    height: 100%;
    border: none;
    outline: none;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
}

/* Search Result */

.search-title {
    padding: 20px 20px 10px 20px;
    color: #e8898e;
    font-size: 1.6rem;
    font-weight: 400;
}

/* User - container */

.notification_container {
    position: relative;
}

.notification_wrapper {
    height: 0;
}

.chat,
.notification {
    position: relative;
    cursor: pointer;
}

.chat-icon,
.notification-icon {
    font-size: 2.8rem;
    color: var(--primary-color);
}

.user {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 999px;
    object-fit: cover;
    margin-right: 16px;
}

.name {
    font-size: 1.8rem;
    color: var(--text-color);
}

.cart {
    font-size: 2.8rem;
    color: var(--primary-color);
    position: relative;
    cursor: pointer;
}

.badge {
    font-size: 1.4rem;
    color: var(--white);
    background-color: #e8898e;
    padding: 2px 8px;
    border-radius: 99px;
    position: absolute;
    top: -5px;
    right: 5px;
}
