.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    width: 100%;
    position: relative;

    padding: 64px 12px;
}

.sidebar {
    padding: 0 16px;
    background-color: var(--white);
}

.title {
    font-size: 2.4rem;
    font-weight: bold;
    padding: 16px;
    border-bottom: 1px solid #ccc;
}

.body {
    flex: 1;
    margin-left: 16px;
}

.header {
    background-color: var(--white);
}

.filters {
    padding: 0 16px;
    justify-content: space-between;
    display: flex;
    align-items: center;

    position: relative;
}

.filter_all {
    font-size: 2rem;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 8px 16px;

    transform: translateY(20px);
    cursor: pointer;
}

.filter_all_text {
    font-size: 1.6rem;
    margin-left: 8px;
}

.sorting {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.find_rating {
    display: flex;
    align-items: center;
}

.star_icons {
    margin: 0 8px;
}
.star_icon {
    color: var(--star-color);

    &:nth-last-child(1) {
        color: #ccc;
    }
}

.core {
    margin-top: 16px;
    min-height: 1000px;

    position: relative;
}

/*  FOOTER  */

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-blue);
    padding: 16px;

    position: absolute;
    bottom: calc(-84px);
    left: 0;
    right: 0;
}

.back_btn,
.next_btn {
    padding: 8px 16px;
    font-size: 2.4rem;
    color: var(--white);
    cursor: pointer;
}

.pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.page_item {
    font-size: 2.4rem;
    margin-right: 64px;
    padding: 8px 16px;
    text-decoration: none;
    color: var(--white);
    cursor: pointer;

    &:nth-child(1) {
        margin-left: 64px;
    }
}

.page_item.active {
    color: var(--white);
    background-color: var(--order-color);
    border-radius: 5px;
}
