.range {
    display: flex;
    align-items: center;

    padding: 8px 16px;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.range_label {
    font-size: 1.8rem;
    font-weight: 500;
}

.range_text {
    font-size: 1.4rem;
    margin: 0 8px;
}

.range_input_min,
.range_input_max {
    padding: 8px 16px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 1.6rem;
    max-width: 120px;

    caret-color: var(--order-color);
    color: var(--order-color);
}

.btn {
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--order-color);
    border-radius: 10px;
    padding: 8px;
    margin-left: 8px;
}
